:root {
  /*Farver*/
  --primary-background: #007c79;
  --secondary-background: #6ab1af;

  --primary-red: #e93858;

  --font-white: #ffffff;
  --font-black: #000000;

  --footer-brown: #c3a18b;

  --primary-hover: #022928;
  --secondary-hover: #9b0832;

  /*Font-weight*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --verybold: 700;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  max-width: 2000px;
  min-height: 100vh;
  margin: auto;
  background-color: var(--primary-background);
  color: var(--font-white);
}

/* Typografi Mobil*/
h1 {
  font-family: Campton;
  font-size: 3.5rem;
  font-weight: var(--bold);
}

h2 {
  font-family: Campton;
  font-size: 2.25rem;
  font-weight: var(--medium);
}

.citat {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: var(--light);
}

h3 {
  font-family: Campton;
  font-size: 1.7rem;
  font-weight: var(--medium);
}

.h3_light {
  font-family: Campton;
  font-size: 1.7rem;
  font-weight: var(--regular);
}

p,
a {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: var(--regular);
}

/* Formular fonter */

/* Formular H2 */
.formular_h2 {
  font-family: Rubik;
  font-size: 2rem;
  font-style: normal;
  font-weight: var(--verybold);
  line-height: normal;
}

/* Formular p Bold */
.formular_p_bold {
  color: var(--color-font-black, #000);
  font-family: Rubik;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: var(--verybold);
  line-height: normal;
}

/* Formular p */
.formular_p {
  color: var(--color-font-black, #000);
  font-family: Rubik;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: var(--regular);
  line-height: normal;
}

@media (min-width: 900px) {
  /*Typografi Web*/
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4.375rem;
  }

  .citat {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 3rem;
  }

  .h3_light {
    font-size: 3rem;
  }

  p {
    font-size: 1.875rem;
  }

  a {
    font-size: 1.3rem;
    align-self: center;
    justify-content: center;
  }
}
