---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<h1>Hej med dig</h1>
	<h2>Hej med dig</h2>
	<h3>Hej med dig</h3>
	<h3 class="h3_light">Hej med dig</h3>
	<p class="citat">Hej med dig</p>
	<p>Hej med dig</p>
</Layout>

<style>
	
</style>