---
import Layout from "../layouts/Layout.astro";
import Hero3 from "../components/Hero3.astro"
import Tak1 from "../components/Tak1.astro"

---


<Layout>
  
    <section>
  <Hero3></Hero3>

<Tak1></Tak1>
</section>

</Layout>

<style>

section{
  margin-top: 3rem;
  
}


</style>