---
const {imgPath} = Astro.props;
    
---
<div class="container">

<div class="citat_container" >
    <div>
    <p class="citation">"</p>

    <div class="citat1">
<p class="citat">Forskere har fundet flere store hvaler, der er døde af sult, fordi deres maver er helt fyldt af plastik – og vi ved, at der også findes mikroplast med kemikalier i meget af den mad, vi mennesker spiser.
</div><p class="citat"> - Henrik Beha Pedersen
Miljøbiolog & stifter af Plastic Change</p>
</p>
</div>



<style>


.citat_container{
    margin: 4rem;

    
    
}





.citation {
    font-family: Rubik;
font-size: 8rem;
font-weight: var(--regular);
   margin: 0rem 0rem -4rem -1rem;
    }

   .citat1{
margin-bottom: 4rem;

}


/*Regler for Tablet*/

@media (min-width: 750px) {
.citat_container{
margin: 1rem 6rem 1rem 6rem;
}



}

/*Regler for web*/
        @media (min-width: 900px) {

      .container{
    background-image: url("../images/citatbølge.svg");
     background-repeat: no-repeat;
     background-position: bottom;

}

            

    .citation {
        margin: 0rem 0rem -4rem -6rem;
font-size: 12.5rem;
font-weight: var(--regular)


    }
 

 

.citat_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
margin: 2rem 2rem 0rem 12rem;



}

.citat1{
margin-bottom: 4rem;

}
}


</style>

<script>

    import { gsap } from "gsap";
    
import { ScrollTrigger } from "gsap/ScrollTrigger";


gsap.registerPlugin(ScrollTrigger);

 


</script>