---
const {imgPath} = Astro.props;
    
---

<div class="citat_container" >
    <div>
    <p class="citation">"</p>

    <div class="citat1">
<p class="citat">Forskere har fundet flere store hvaler, der er døde af sult, fordi deres maver er helt fyldt af plastik – og vi ved, at der også findes mikroplast med kemikalier i meget af den mad, vi mennesker spiser.
</div><p class="citat"> - Henrik Beha Pedersen
Miljøbiolog & stifter af Plastic Change</p>
</p>
</div>
<div>
<img class="hval" src={imgPath} alt="Hval">



<style>


.citat_container{
    margin: 4rem;
}

img{
    display: none;
}



.citation {
font-size: 8rem;
font-weight: var(--regular);
   margin: 0rem 0rem -4rem -1rem;
    }
/*Regler for Tablet*/

@media (min-width: 750px) {
.citat_container{
margin: 1rem 6rem 1rem 6rem;
}

img{
    display: none;
}

}

/*Regler for web*/
        @media (min-width: 900px) {

            .gradient{
    background-image: linear-gradient(var(--primary-background), var(--secondary-background));
            }

    .citation {
        margin: 0rem 0rem -4rem -6rem;
font-size: 12.5rem;
font-weight: var(--regular)


    }
    img{
        display: block;

    }

    .hval{
        display: grid;
margin: 10rem 0rem 0rem 0rem;
        height: 29.375rem;
flex-shrink: 0;


}
.citat_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
margin: 2rem 2rem 0rem 12rem;


}

.citat1{
margin-bottom: 4rem;

}

/* .havbaggrund{
width: 94.625rem;
height: 0rem;
flex-shrink: 0;
z-index: 10;
} */

}

</style>