---
/* H1 display font + Alt i hero som ikke er fomularen */ 
---
<div class="container">

<div class="h0_container" >
	<h1 class="h01">SINGLE</h1>
	<h1 class="h02">USE</h1>
	<h1 class="h03">SUCKS</h1>
	</div>


<p>Hjælp os med at beskytte naturen, <br> dyrelivet og vores børn mod plastik!</p>

</div>
    <style>
        
.h0_container{
    padding: 1rem 1rem 0 1rem;
}

p{

    padding: 0 1rem 1rem 1rem;


}

@media (min-width: 900px) {

    .container{
padding: 3rem 5rem 3rem 0;
}

.h01{
font-family: Campton;
font-size: 9.9375rem;
font-weight: var(--bold);
height: 7.75rem;

}

.h02{
font-family: Campton;
font-size: 19.07306rem;
font-style: normal;
font-weight: var(--bold);
height: 16rem;
}

.h03{
font-family: Campton;
font-size: 10.63425rem;
font-weight: var(--bold);
   height: 10rem;
}
   

        }
    </style>