---
/* H1 display font + Alt i hero som ikke er fomularen */ 
import Pil from "./Pil.astro";
---
<div class="container">

<div class="h0_container" >
	<h1 class="h01">SINGLE</h1>
	<h1 class="h02">USE</h1>
	<h1 class="h03">SUCKS</h1>
	</div>

<div class="tekst_pil" >
<p>Hjælp os med at beskytte naturen, dyrelivet og vores børn mod plastik!</p>
<Pil/>
</div>
</div>
    <style>
        
.h0_container{
    padding: 2rem 1rem 1rem 1rem;
}

p{

    padding: 0 1rem 1rem 1rem;


}



@media (min-width: 900px) {

    .container{
padding-left: 4rem;
padding-top: 3rem;
}

.tekst_pil{
    display: grid;
  grid-template-columns: 1fr 1fr;

}

.h01{
font-family: Campton;
font-size: 8.5rem;
font-weight: var(--bold);
height: 6rem;

}

.h02{
font-family: Campton;
font-size: 16.2rem;
font-style: normal;
font-weight: var(--bold);
height: 13rem;
}

.h03{
font-family: Campton;
font-size: 9.2rem;
font-weight: var(--bold);
   height: 10rem;
}
   

        }
    </style>