---
---

<ul>
  <div class="exit">
    <a href="."><img src="../grafik/exit.svg" alt=""></a>
  </div>
</ul>
 
  
<style>
  
  .exit{
    max-width: 2rem;
 position: absolute; top: 20px; right: 20px;
  }

  .exit:hover{
    transform: scale(1.3);
    background-color: var(--primary-red);
  }
  
</style>