---
import Button from "./Button.astro";
---

<form>

<h1 class="overskrift">Bliv medlem</h1>

<p class="underskrift">For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>

<hr>

<div>

   <p>Oplysninger</p>

 <label for="fname">Fornavn</label><br>
  <input type="text" id="fnavn" name="fname">

  <label for="ename">Efternavn</label><br>
  <input type="text" id="enavn" name="lname">

   <label for="email">E-mail</label><br>
  <input type="text" id="email" name="lname">
  
   <label for="mobil">Mobilnummer</label><br>
  <input type="text" id="mobil" name="lname">

</div>

<hr>

<div class="betaling">

   <p>Betalingsoplysninger</p>

  <label  for="mpay"> Mobilepay</label><br>
  <input  type="checkbox" id="mpay" name="mobilepay" value="mobilepay">

  <label  for="bservice"> Betalingsservice</label><br>
  <input  type="checkbox" id="bservice" name="betaling" value="betaling">

</div>

<hr>

<div class="privat">
 
   <label  for="privat">Læs vores betingelser og privatlivspolitik her </label><br>
  <input type="checkbox" id="privat" name="privat" value="privat">

  </div>

  <div class="button">
<Button variant="Primary" size="Large">BLIV MEDLEM</Button>
</div>

</form>


<style>

   /* Formularen */
form { 

  padding-bottom: 1rem;
  padding-top: 2rem;
  background-color: var(--font-white); }


  input {
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
  }
   
    
.overskrift {
   padding-bottom: 1rem;
   padding-left: 1rem;
}

.underskrift { 
   padding-top: 0,5rem;
   padding-bottom: 3rem;
   padding-left: 1rem;

}
.betaling {
   padding-right: 5rem;
   padding-top: 2rem;
   text-align: left


}
.privat {
   padding-top: 1rem;
   text-align: left

}

/* input bokse for betaling og privatpolitik */

input [name="mobilepay"] {
   border: 3rem;
}

/* teksstyling*/

h1 {color: var(--primary-hover);}

label {color: var(--font-black); font-family: "Rubik";
 padding-right: 5rem;
 padding-left: 1rem;
 text-align: left;
}

p {color: var(--font-black);}

/*Knap */

.button {
   text-align: center;
}


/* website */
   @media (min-width: 900px) {

form {

}

label {
   padding-right: 2rem;
   padding-left: 1rem;
   text-align: left;

}
   }

</style>


