---
import Button from "./Button.astro";
---

<form>

<h1 class="overskrift">Bliv medlem</h1>

<p class="underskrift">For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>

<div class="felter">

 <label for="fname">Fornavn</label><br>
  <input type="text" id="fnavn" name="fname">

  <label for="ename">Efternavn</label><br>
  <input type="text" id="enavn" name="lname">

   <label for="email">E-mail</label><br>
  <input type="text" id="email" name="lname">
  
   <label for="mobil">Mobilnummer</label><br>
  <input type="text" id="mobil" name="lname">

</div>

<div class="betaling">

  <label  for="mpay"> Mobilepay</label><br>
  <input  type="checkbox" id="mpay" name="mobilpay" value="mobilepay">

  <label  for="bservice"> Betalingsservice</label><br>
  <input  type="checkbox" id="bservice" name="betaling" value="betaling">

</div>

<div class="privat">

  <label  for="bservice">Læs vores betingelser og privatlivspolitik her </label><br>
  <input  type="checkbox" id="privat" name="privat" value="privat">

  </div>

<Button variant="Primary" size="Large">BLIV MEDLEM</Button>

</form>


<style>
form { 

  padding-bottom: 1rem;

  padding-top: 2rem;

background-color: var(--font-white); }


  input {
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
   
}




.felter {


}
.overskrift {
   padding-bottom: 1rem;
   padding-left: 1rem;
}

.underskrift { 
   padding-top: 0,5rem;
   padding-bottom: 3rem;
   padding-left: 1rem;

}
.betaling {
   padding-right: 5rem;
   padding-left: 1rem;
   padding-top: 1rem;
   text-align: left

}
.privat {

   padding-right: 5rem;
   padding-left: 1rem;
   text-align: left

}

/* teksstyling*/

h1 {color: var(--primary-hover);}

label {color: var(--font-black); font-family: "Rubik";
 padding-right: 5rem;
 padding-left: 1rem;
 text-align: left;
}

p {color: var(--font-black);}


/* website */
   @media (min-width: 900px) {
label {
   padding-right: 20rem;
   padding-left: 1rem;
   text-align: left;

}

   }

</style>


