---
import Button from "./Button.astro";
---

<form>

<h1 class="overskrift">Bliv medlem</h1>

<p class="underskrift">For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>

<div class="felter">

 <label for="fname">Fornavn</label><br>
  <input type="text" id="fnavn" name="fname">

  <label for="ename">Efternavn</label><br>
  <input type="text" id="enavn" name="lname">

   <label for="email">E-mail</label><br>
  <input type="text" id="enavn" name="lname">
  
   <label for="mobil">Mobilnummer</label><br>
  <input type="text" id="enavn" name="lname">
</div>

<div class="betaling">

   <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="mpay">Mobilepay</label><br>

  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="bservice">Betalingservice</label><br>
</div>

<div class="privat">

  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="privat">Læs vores betingelser og privatlivspolitik her</label><br>
  </div>

</form>


<style>
form { 

  padding-bottom: 1rem;

  padding-top: 2rem;

background-color: var(--font-white);

  input {
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   
}

label { font-family: "Rubik";}

.felter {
label {
   padding-right: 5rem;
   padding-left: 1rem;
   text-align: left;

}

}

.betaling {
   label {
   padding-right: 5rem;
   padding-left: 1rem;
   text-align: left
   }

}
}

.privat {
  label {
   padding-right: 5rem;
   padding-left: 1rem;
   text-align: left
   }
   
}
.overskrift {
   padding-bottom: 1rem;
   padding-left: 1rem;
}

.underskrift { 
   padding-top: 0,5rem;
   padding-bottom: 3rem;
   padding-left: 1rem;

}


}


h1 {color: var(--primary-hover);}

label {color: var(--font-black);}

p {color: var(--font-black);}



   @media (min-width: 900px) {


   }

</style>


