---
import Button from "./Button.astro";
---

<form>
<h1>Bliv medlem</h1>
<p>For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>
<input type="Fornavn">
<input type="Efternavn">
<input type="E-mail">
<input type="Mobilnummer">
</form>

<style>
form { width: 21,875rem; height: 58,125rem; flex-shrink: 0;
   background-color: var(--font-white); 
   @media (min-width: 900px) 

h1 {var(--primary-red) }

p {var(--font-black)}

}

</style>


