---
import Button from "./Button.astro";

---

<form>

<h2 class="overskrift">Bliv medlem</h2>

<p class="underskrift">For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>

<hr>

 <p>Oplysninger</p>

<div>

 <label for="fname">Fornavn</label><br>
  <input type="text" id="fnavn" name="fname">

  <label for="ename">Efternavn</label><br>
  <input type="text" id="enavn" name="lname">

   <label for="email">E-mail</label><br>
  <input type="text" id="email" name="lname">
  
   <label for="mobil">Mobilnummer</label><br>
  <input type="text" id="mobil" name="lname">

</div>

<hr>

 <p>Betalingsoplysninger</p>

<div class="betaling">

  <label  for="mpay"> Mobilepay</label><br>
  <input  type="checkbox" id="mpay" name="mobilepay" value="mobilepay">

  <label  for="bservice"> Betalingsservice</label><br>
  <input  type="checkbox" id="bservice" name="betaling" value="betaling">

</div>

<hr>

<div class="privat">
 
   <label  for="privat">Læs vores betingelser og privatlivspolitik <p class="her">her </p></label><br>
  <input type="checkbox" id="privat" name="privat" value="privat">

  </div>

  <div class="button">
<Button variant="Primary" size="Large">BLIV MEDLEM</Button>
</div>

</form>


<style>

   /* Formularen */
form { 

  border: 6rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  background-color: var(--font-white); }


.overskrift {
   padding-bottom: 1rem;
   padding-left: 1rem;
}

.underskrift { 
   padding-top: 0,5rem;
   padding-bottom: 3rem;
   padding-left: 1rem;

}
.betaling {
   padding-right: 5rem;
   padding-top: 0,5rem;
   padding-bottom: 2rem;
   text-align: left
}

.privat {
   padding-top: 3rem;
   padding-bottom: 1rem;
   text-align: left

}

/* input bokse for betaling og privatpolitik */

input {
   max-width: 25rem;
    padding: 1rem;
    margin: 1rem;
}

input [type=checkbox] {

}

/* teksstyling*/

h2 {color: var(--primary-hover);}

label {
   color: var(--font-black); 
   font-family: "Rubik";
 padding-right: 5rem;
 padding-left: 1rem;
 text-align: left;
}

p {
   color: var(--font-black);
padding-top: 2rem;
padding-bottom: 2rem;
 padding-left: 1rem;
 text-align: left;}

.her {
color: var(--primary-red);
font-size: medium
}

/*Knap */

.button {
   text-align: center;
}


/* linjer */

hr {
   opacity: 50%;
   width: 90%;
   margin: auto;
   
}

/* website */
   @media (min-width: 900px) {

form {
max-width: 35rem;

}

label {
   padding-right: 2rem;
   padding-left: 1rem;
   text-align: left;

}
   }

</style>


