---
import Button from "./Button.astro";

---

<form>

    <div class="blivmedlem_container">

<h2 class="formular_h2">Bliv medlem</h2>

<p class="formular_p"  >For kun 350 kr. / årligt kan du være med i kampen for et sundt havmiljø.</p>
</div>
<hr>

 <p class="formular_p_bold" >Oplysninger</p>

<div class="container_1">
<span>
 <label for="fname">Fornavn</label> <br>
  <input type="text" id="navn" name="fname" >
</span>
<span>
  <label for="ename">Efternavn</label> <br>
  <input type="text" id="navn" name="lname" >
</span>
<span>
   <label for="email">E-mail</label> <br>
  <input type="text" id="navn" name="lname" >
  </span>
  <span>
   <label for="mobil">Mobilnummer</label> <br>
  <input type="text" id="navn" name="lname" >
</span>
</div>

<hr>

 <p class="formular_p_bold" >Betalingsoplysninger</p>


 <div class="container_2" >

<div class="betalinger" >

<input type="radio" checked="checked" name="radio" id="radio1" />
<label for="radio1">  Mobilepay</label>
</div>

<input type="radio" name="radio" id="radio1" />
<label for="radio1">  Betalingsservice</label>

</div>

<hr>

<div class="container_3">

  <input type="checkbox" id="privat" name="privat" />
<label for="privat"> Læs vores betingelser og privatlivspolitik her</label>

  

</div>
  </div>


  <div class="button">
<Button variant="Secondary" size="Large"> <a href="../tak"> BLIV MEDLEM </a></Button>
</div>

  </form>



<style>

.container_3{
  padding-left: 1rem;
  padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container_2{
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}

.betalinger{
padding-bottom: 1rem;
}


a{
  color: white;
}

   /* Formularen */

form { 
padding-bottom: 2rem;
  background-color: var(--font-white); 

}

  .container_1{
     display: flex;
  flex-direction: column;
  }

  span{
    margin-bottom: 10px;
  }

/* Betaling */


/* input bokse for betaling og privatpolitik */

#navn {
   width: 24rem;
    padding: 0.5rem;
    margin: 1rem;
    margin-top: -0.01rem;

} 

/* Teksstyling*/


/* Stylet som formular P */
label {
    padding-left: 1rem;
    color: var(--tertiary-background);
  font-family: "Rubik";
  font-size: 0.9rem;
  font-weight: var(--regular);
 text-align: left;}



/* Knap */

.button {
   text-align: center;
}


/* Linjer */

hr {
   opacity: 50%;
   width: 90%;
   margin: auto;
   
}

/* Styling af undertekst*/

p {
   color: var(--tertiary-background);
padding-top: 2rem;
padding-bottom: 2rem;
 padding-left: 1rem;
 text-align: left;
}

h2 {
    color: var(--primary-hover);
     padding-left: 1rem;
     padding-top: 2rem;

}

/* Website */

   @media (min-width: 900px) {

form {
max-width: 35rem;
}

#navn {
   width: 33rem;
    padding: 0.7rem;
    margin: 1rem;
    margin-top: -0.01rem;
}


label{
   font-size: 1.0625rem;
}

   }

</style>
