---
const{titel, tekst, imgPath} = Astro.props
---

<section>
    <h2>{titel}</h2>
    <div class="container">
        <img src={imgPath} alt="#">
    <p>{tekst}</p>

</div>
</section>

<style>

section
{
    padding: 5rem 2rem 2rem 2rem;


}

h2{
    width: 20;
    text-align: right;
    display: flex;
  
    padding-bottom: 1rem;
        padding-top: 1rem;
    
}

p{
      width: 20;
}
img{
    width: 7rem;
height: 7rem;
}
 .container{
    display: flex;


gap: 4.375rem;

 }

 @media (min-width: 750px) {
h2{
      width: 60rem;
          margin-left: 1rem;
        }
 }

  
 @media (min-width: 900px) {
 p{
      width: 46rem;
   
        display: inline-block;
  align-self: flex-end;
}

h2{
        border-bottom: 1px solid var(--font-white);
        padding-top: 1.5rem;
  max-width: 46rem;
                  padding-bottom: 1.5rem;
                          margin-left: 18rem;
                  
         
}

img{
width: 16rem;
height: 16rem;
padding-top: 1.4rem;
  display: inline-block;
  align-self: flex-end;
 }


        }

</style>