---

import Godecard from "../components/Godecard.astro";
import GodeCard from "../components/Godecard.astro"
---

<section>
    <Godecard titel="1. FÅ BUGT MED DIT FLASKE FORBRUG" tekst="Faktisk estimeres det, at der dagligt bruges 1,3 milliarder plastflasker over hele verden, hvilket svarer til cirka 1 million per minut. Brug derfor en genanvendelig flaske!" imgPath=""/>
        <Godecard/>
            <Godecard/>
                <Godecard/>
</section>
