---
const{titel, tekst, imgPath} = Astro.props
---

<section>
    <h2>{titel}</h2>
    <div class="container">
    <p>{tekst}</p>
<img src={imgPath} alt="#">
</div>
</section>

<style>

section
{
    padding: 5rem 2rem 2rem 2rem;



}

h2{
    width: 40;

}
p{
      width: 20rem;
}
img{
    width: 7rem;
height: 7rem;
}
 .container{
    display: flex;

align-items: flex-start;
gap: 4.375rem;
 }
 @media (min-width: 900px) {
 p{
      width: 46rem;
      padding-top: 1.5rem;
}

h2{
        border-bottom: 1px solid var(--font-white);
              width: 46rem;
                         padding-bottom: 1.5rem;
}
img{
width: 16rem;
height: 16rem;
 }


        }

</style>