---

import Gode1Card from "../components/Gode1Card.astro";
import Gode2Card from "../components/Gode2Card.astro";

---

<section>
    <Gode1Card titel="1. FÅ BUGT MED DIT FLASKE FORBRUG" tekst="Faktisk estimeres det, at der dagligt bruges 1,3 milliarder plastflasker over hele verden, hvilket svarer til cirka 1 million per minut. Brug derfor en genanvendelig flaske!" imgPath="../godesvg/drikke.svg"/>
        <Gode2Card titel="2. EN POSE TIL RESTEN AF LIVET" tekst="Hvis bare én person skifter til genanvendelige indkøbsposer i ét år, estimeres det, at 500 engangsplastikposer vil blive erstattet med blot en indkøbspose." imgPath="../godesvg/pose.svg"/>
            <Gode1Card titel="3. SKIFT TIL EN BAMBUS TANDBØRSTE" tekst="Bambus er en hurtigvoksende græsart, der bruger mindre vand end træer og kræver ikke kemiske gødninger eller pesticider. Dette betyder også, at den kan komposteres ved livets ende." imgPath="../godesvg/tandbørste.svg"/>
                <Gode2Card titel="4. KØB PLASTFRIT FRUGT OG GRØNT" tekst="Ved at vælge plastfri indpakning støtter du en mere bæredygtig og ansvarlig tilgang til forbrug, hvilket bidrager til at bevare vores planet og skabe en renere, grønnere fremtid for os alle." imgPath="../godesvg/vege.svg"/>

</section>
