---
import Exit from "../components/Exit.astro";
---

<section>
<Exit></Exit>
<h2>Tak for dit medlemsskab 
    hos Plastic Change!</h2>
<p>Vi har sendt en kvittering til din indboks.</p>
</section>

<style>

    section{
        margin-inline: 2rem;
    }
p{
    margin-block: 2rem;
}

</style>

