---
const {imgPath, titel, tid} = Astro.props

---

<div>
<h3 class="titel">{titel}</h3>
<div class="container">
<h3 class="h3_light">{tid}</h3>
<img src={imgPath} alt="#">
</div>
</div>


<style>
.container{
    display: flex;


padding: 0.875rem 0rem 0.4375rem 0rem;
margin-bottom: 3rem;
margin-top: 1.5rem;
justify-content: space-between;

}
.titel{
                background: var(--primary-background);
display: flex;

padding: 0.875rem 0rem 0.4375rem 0rem;
justify-content: center;
align-items: center;
}
    img{
        width: 7.5rem;
height: 7.5rem;
flex-shrink: 0;
    }

    .h3_light{
   align-self: center;
    }
        @media (min-width: 900px) {
            .titel{

display: flex;

padding: 0.875rem 3.5625rem 0.25rem 3.5rem;
justify-content: center;
align-items: center;
            }


            .container{
      
padding: 0.875rem 3.5625rem 0.25rem 3.5rem;

align-items: center;
            }


            img{
                 width: 10rem;
height: 10rem;

            }
        }

</style>