---
const {imgPath, titel, tid} = Astro.props

---
<div>
<h3 class="titel">{titel}</h3>

<div class="container">
<img src={imgPath} alt="#">

<h3 class="h3_light">{tid}</h3>

</div>
</div>


<style>
.container{
display: flex;
flex-direction: row;
width: 18rem;
justify-content: center;
align-items: center;
margin-bottom: 3rem;
margin-top: 1.5rem;
}
.titel{
                background: var(--primary-background);
display: flex;
width: 18rem;
padding: 0.875rem 0rem 0.4375rem 0rem;
justify-content: center;
align-items: center;
}
    img{
        width: 7.5rem;
height: 7.5rem;
flex-shrink: 0;
    }

    .h3_light{
   align-self: center;
    }
        @media (min-width: 900px) {
            .titel{

display: flex;
width: 32.625rem;
padding: 0.875rem 3.5rem 0.25rem 3.5rem;
justify-content: center;
align-items: center;
            }


             .container{
                width: 32.625rem;
padding: 0.875rem 3.5rem 0.25rem 3.5rem;
justify-content: center;
align-items: center;
        }}

</style>