---
import Ned1Card from "./Ned1Card.astro";
import Ned2Card from "./Ned2Card.astro";

---
<div class="gradiant">
<div class="container_overskrift">
<h2>NEDBRYDSTID</h2>
<p>Se hvor lang tid det tager for dit skrald at nedbryde i havene...</p>
</div>


<div class="card_container" >

<div class="scroll">
<Ned2Card  titel="CIGARET SKOD" tid="1-5 ÅR" imgPath="../grafik/cigaret.svg"/>
</div>
<div class="scroll" >
<Ned1Card titel="FRUGT SKRALD" tid="2-5 UGER" imgPath="../grafik/banan.svg"/>   
</div>
<div class="scroll">
<Ned1Card  titel="PLASTIK POSE" tid="10-20 ÅR" imgPath="../grafik/plastpose.svg"/>
</div>
<div class="scroll">
<Ned2Card class="scroll" titel="ENGANGSKOP" tid="50-100 ÅR" imgPath="../grafik/kop.svg"/>
</div>
<div class="scroll">
<Ned1Card class="scroll" titel="DÅSE" tid="100-200 ÅR" imgPath="../grafik/dase.svg"/></div>
<div class="scroll">
<Ned2Card class="scroll" titel="SIXPACKHOLDER" tid="400-500 ÅR" imgPath="../grafik/sixpack.svg"/></div>
<div class="scroll">
<Ned1Card class="scroll" titel="PLASTIK FLASKE" tid="450+ ÅR" imgPath="../grafik/flaske.svg"/>
</div>
</div>



<style>

.gradiant{
padding-top: 8rem;
    background-image: linear-gradient(var(--secondary-background), var(--primary-background) );
       overflow: hidden;
}

.card_container{
      margin: 0rem 3rem 0rem 3rem;  
   
  

}

.container_overskrift{
    margin: 0rem 3rem 2rem 3rem;
}


 @media (min-width: 900px) {


    .card_container{


  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
     background-image: linear-gradient(#fff, #fff);
      background-size: 5px 100%;
      background-repeat: no-repeat;
      background-position: center center;
}

.scroll{
 grid-row-end: span 2;
   aspect-ratio: 1;


    
    }
.scroll:first-child{
     grid-row-start: 2;
}
      
            .container_overskrift{
    margin: 3rem 57rem 0rem 6rem;
}



        }

   

</style>

 

<script>

import { gsap } from "gsap";
    
import { ScrollTrigger } from "gsap/ScrollTrigger";


gsap.registerPlugin(ScrollTrigger);

  gsap.from(".scroll:nth-child(1)", {
    xPercent: -100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(2)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });

    gsap.from(".scroll:nth-child(2)", {
    xPercent: 100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(2)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });



   gsap.from(".scroll:nth-child(3)", {
    xPercent: 100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(1)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });
 gsap.from(".scroll:nth-child(4)", {
    xPercent: -100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(3)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });

 gsap.from(".scroll:nth-child(5)", {
    xPercent: 100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(4)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });

   gsap.from(".scroll:nth-child(6)", {
    xPercent: -100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(5)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });

  gsap.from(".scroll:nth-child(7)", {
    xPercent: 100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".scroll:nth-child(6)",
      end: "bottom 80%",
      scrub: true,
      
    },
  });
 
</script>




 
