<section>
    <div>
<h2>HVAD GÅR MINE PENGE TIL?</h2>
<p>Som medlem spiller dit medlemsbidrag en afgørende rolle i at opnå Plastic Changes mission om en verden med mindre plastforurening og mere bæredygtige havmiljøer. 
<br> <br>
Hver støtte tæller, og med 350 kr kan medlemmer være med til at gøre en positiv forskel for vores hav og fremtidige generationer.</p>
</div>
<div>
<img src="../images/pengekop.png" alt="penge">
</div>
</section>

<style>
    section{
     
        background-color: var(--font-white);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h2{
        padding-top: 3rem;
    color: var(--primary-red);
    }
    p{
        color: var(--font-black);
    }

</style>