---
import Linje from "../components/Linje.astro";
import Button from "../components/Button.astro";
---


<section>
    <Linje variant="primary"/>
    <div class="container">
    <div class="tekst_container">
<h2>HVAD GÅR MINE PENGE TIL?</h2>
<p>Som medlem spiller dit medlemsbidrag en afgørende rolle i at opnå Plastic Changes mission om en verden med mindre plastforurening og mere bæredygtige havmiljøer. 
<br> <br>
Hver støtte tæller, og med 350 kr kan medlemmer være med til at gøre en positiv forskel for vores hav og fremtidige generationer.</p>
</div>
<div>
<img src="../grafik/fiske.svg" alt="penge">
<p  >Læs om hvordan du kan gøre en forskel  i din hverdag!</p>
<div class="button">
<Button variant="Primary" size="Large" > <a href="../tips">5 GODE RÅD</a> </Button>
</div>
</div>
</div>

</section>
    <Linje variant="secondary"/>
<style>

   
a {
    text-decoration: none;
    color: var(--font-white);
}
  .container{
            padding: 1rem 2rem 2rem 2rem;
                    background-color: var(--font-white);
  }
    h2{
        padding-top: 3rem;
    color: var(--primary-red);
    }
    p{
        color: var(--tertiary-background);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    img{
        display: none;
    }

    .button{
        display: flex;
  justify-content: center;
  align-items: center;


    }

    @media  (min-width: 900px) {
        img{
            display: block;
            padding: 2rem 2rem 1rem 0;
            max-height: 428px;
    
        }
          .tekst_container{
        padding: 1rem 2rem 1rem 4rem;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
padding: 2rem 0rem 2rem 0rem;
    }
  
    }

</style>