---
import Button from "../components/Button.astro";

---

<section>
    <div class="background-image">

 <div class="flex"> 
    <img class="svg" src="../grafik/tak_ikon.svg" alt="">
<div class="cta">
   
<div class="h3_light">Læs mere om Plastic Change her! </div>
<Button variant="Primary" size="Large">Læs mere!</Button>

</div>
</div>
</div>      
</section>

<style>

.background-image {
      background-image: url(../images/bølge_tak.svg);
      background-size: cover;
      width: 100%;
      height: 80vh;
    }

   .flex{
    padding-inline: 2rem;
    } 

.cta{
    color: var(--primary-hover);
  text-align: center;
}
.h3_light{
    padding-block: 2rem;
}

.svg{
   width:22rem; 
  
  /*  margin: auto; */
}

@media (min-width: 1200px) {

  .background-image{

    height: 55vh;
  }



    .flex{
        margin-block: 3rem;
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .cta{
 
padding-top: 4rem;
  padding-left: 15rem;
  padding-right: 1rem;
   
    }
}

.svg{
margin-left: 10rem;
}


</style>