---
import Button from "../components/Button.astro";

---

<section>
    <img src="../grafik/tak_ikon.svg" alt="">
<div class="cta">
<div class="h3_light">Læs mere om Plastic Change her! </div>
<Button variant="Primary" size="Large">Læs mere!</Button>
</div>
</section>


<style>

section{
    background-color: var(--secondary-background);
}

.cta{
    color: var(--primary-hover);
   
}

</style>